In [1]:
import numpy as np
import pandas as pd

## Series
### Creating an empty Series

In [2]:
s1 = pd.Series(dtype=np.int16)

In [3]:
s1

Series([], dtype: int16)

### Creating a series using list object

In [5]:
p = pd.Series([100,200,300,400,500])
print(p)

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [6]:
p = pd.Series([100,200,300,400,500],index=[1,2,3,4,5],dtype=int)
print(p)

1    100
2    200
3    300
4    400
5    500
dtype: int32

### Creating a series using dictionary

In [7]:
d1 = {101:"Faisal",102:"Shaik",103:"Fasi"}
d = pd.Series(d1)

In [8]:
print(d)

101    Faisal
102     Shaik
103      Fasi
dtype: object

### Create a series using scaler value
* If the series is created using scalar values we must define index. This index defines the length of series.

In [2]:
import pandas as pd

In [4]:
s1 = pd.Series(536,index=[1,2,3,4])
print(s1)

1    536
2    536
3    536
4    536
dtype: int64

In [9]:
s2 = pd.Series("Lift",index=[5,4,3,2,1,0])

In [10]:
s2

5    Lift
4    Lift
3    Lift
2    Lift
1    Lift
0    Lift
dtype: object

### Accessing Data From Series

In [12]:
a1 = pd.Series([100,200,300,400])
a1

0    100
1    200
2    300
3    400
dtype: int64

In [13]:
print(a1[0],a1[1],a1[2],a1[3])

100 200 300 400

In [15]:
a2 = pd.Series([100,200,300,400],index=['a','b','c','d'])
print(a2)

a    100
b    200
c    300
d    400
dtype: int64

In [16]:
a2[3]

400

In [17]:
a2['d']

400

In [18]:
a2[[1,2,3]]

b    200
c    300
d    400
dtype: int64

### Accessing Multiple elements or values from series

In [19]:
a2[['a','b','c']]

a    100
b    200
c    300
dtype: int64

In [21]:
a3 = pd.Series(range(10,101,10))
print(a3)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

### Series allows slicing, to reaad multiple values

In [22]:
a3[1:4]

1    20
2    30
3    40
dtype: int64

In [26]:
a3[5:11]

5     60
6     70
7     80
8     90
9    100
dtype: int64

In [28]:
a3[:-1]

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [29]:
a3[-1:]

9    100
dtype: int64

In [31]:
a3[-1:6]

Series([], dtype: int64)

## Data Frame
### Creating an empty data frame

In [32]:
df = pd.DataFrame([])
print(df)

Empty DataFrame
Columns: []
Index: []

In [33]:
df

Empty DataFrame
Columns: []
Index: []

### Creating a data frame using dictionary

In [39]:
df1 = pd.DataFrame{101:["Faisal"],102:["Shaik"],103:["Fasi"]}
print(df1)

SyntaxError: invalid syntax (3122782172.py, line 1)

In [40]:
df2 = {"Name":["Faisal","Shaik","Fasi"],"Phone no.":[922299229,929393393,932949494]}
pd.DataFrame(df2)

     Name  Phone no.
0  Faisal  922299229
1   Shaik  929393393
2    Fasi  932949494